@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono&display=swap");

:root {
  --color-primaire: #3e92ae;
  --color-secondaire: #fea117;
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.container-me {
  /* background: #79b0e7; */
  width: 100%;
  /* height: 100vh; */
  padding: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: auto;
}

/* =====================NAV BAR====================== */

.navbar-me {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 50px;
  /* padding: 4px; */
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
  /* height: 8vh; */
  align-self: center;
  position: fixed;
  top: 0;
  z-index: 99;
  margin-top: 20px;
}

.navbar-me .logo-me {
  width: 19%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-me .logo-me img {
  width: 100px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 1px;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: 2s;
}

nav ul li a {
  text-decoration: none;
  color: #777;
  transition: ease-in;
}

nav ul .hv:hover {
  /* background: #f44566; */
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  border-radius: 30px;
  color: #fff;
  transition: ease-in;
}

nav ul li a:hover {
  color: #fff;
  transition: ease-in;
}
nav ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.btn {
  display: flex !important;
  align-items: center;
}

.btn:hover {
  background-color: var(--color-secondaire) !important;
  color: #fff !important;
}
/* =====================FIN NAVBAR====================== */


/* ====================BUTTON LEARN MORE================ */
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
  border-radius: 33px;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/* ==============FIN BUTTON LEARN MORE================= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

/*=======================SCROLL ANIMATION=====================*/

.reveal {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active {
  transform: translateX(0);
  opacity: 1;
}

/*=======================FIN SCROLL ANIMATION=====================*/


/* ========================VALUES============================= */
.values {
  width: 100%;
  height: 655px;
  background: #fff;
  margin-top: 20px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.pt-products8 {
  width: 6%;
  top: -54px;
  right: 51%;
}

.pt-values {
  position: absolute;
  width: 25%;
  top: -174px;
  right: 77%;
  transform: rotate(45deg);
  opacity: 39%;
}

.pt-flowers {
  width: 19%;
  top: 122vh;
  right: 81%;
}

.pt-flowers1 {
  width: 19%;
  top: 122vh;
  right: 62%;
}

.pt-flowers2 {
  width: 19%;
  top: 122vh;
  right: 43%;
}

.pt-flowers3 {
  width: 19%;
  top: 122vh;
  right: 24%;
}
.pt-flowers4 {
  width: 19%;
  top: 122vh;
  right: 5%;
}
.pt-flowers5 {
  width: 19%;
  top: 122vh;
  right: -14%;
}

.cards-values {
  width: 95%;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  margin: 10px;
}

.row-cards {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 10px;
}
.card-value {
  width: 320px;
  /* border: 2px solid; */
  height: 450px;
  border-radius: 32px;
  background: #ccd6a6;
  box-shadow: 5px 5px 10px #bebebe, 0px 0px 0px #ffffff;
  overflow: hidden;
  padding: 10px;
  transition: 0.2s ease-out;
}

.card-value:hover {
  transform: scale(1.05);
  background: #dae9a4;
}

.title-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.title-card h1 {
  color: var(--color-primaire);
  font-size: 35px;
}

.icon-cards {
  width: 30%;
}

.swiper {
  width: 1100px;
  height: 550px;
}

.swiper-slide {
  display: flex;
  gap: 20px;
  height: 35rem;
  justify-content: center;
  align-items: center;
}
/* ========================FIN VALUES======================== */

/* =========================CLIENTS============================ */

/* =======================FIN CLIENTS========================== */


/* =========================RECRUITE============================ */
.recruite {
  width: 100%;
  height: 1200px;
  background: #fff;
  margin-top: 20px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.pt10 {
  width: 25%;
  top: -121px;
  right: 78%;
  opacity: 22%;
  z-index: -1;
  transform: rotate(45deg);
}

.flex-column {
  flex-direction: column !important;
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
}

.hv-cards-recruite {
  transition: 1s ease-in;
}
.hv-cards-recruite:hover {
  background: #ffab7385;
}
/* =======================FIN RECRUITE========================== */

/* Responsive css */


/* ========================FOOTER============================= */
.footer {
  text-align: center;
  background: var(--color-primaire);
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0;
}

.footer p a {
  text-decoration: none;
  color: #fff;
}

.footer p a:hover {
  color: var(--color-secondaire);
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: var(--color-secondaire);
  border-radius: 50%;
  color: #fff;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.back-btn:hover {
  background-color: #6b44e0;
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

a {
  text-decoration: none;
}
/* =======================FIN FOOTER======================== */

/* ===================SCROLLBAR FOR PHONE========================== */
.hamburger-menu .bar {
  position: relative;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark-one);
  transition: 0.5s;
  z-index: 1000;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark-one);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

nav.open .hamburger-menu .bar {
  background-color: transparent;
  transform: rotate(360deg);
}

nav.open .hamburger-menu .bar:before {
  transform: translateY(0) rotate(45deg);
  background-color: var(--light-one);
}

nav.open .hamburger-menu .bar:after {
  transform: translateY(0) rotate(-45deg);
  background-color: var(--light-one);
}

nav.open li a {
  transform: translateX(0);
}

.hamburger-menu .bar {
  position: relative;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark-one);
  transition: 0.5s;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

nav.open .links {
  transform: translateX(0);
}

.bar {
  display: none;
}

.links {
  display: none;
}

.links a.active {
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.9rem 2.1rem;
  margin-left: 1rem;
}

.links a:hover {
  color: var(--main-color);
}

.links a.active:hover {
  color: var(--light-one);
  background-color: #6b44e0;
}

.tel {
  display: none;
}

.crd-phone {
  display: none !important;
}

/* ===================FIN SCROLLBAR FOR PHONE========================== */

/* =====================RESPONSIVE======================= */
@media only screen and (max-width: 767px) {
  .home {
    margin-top: 78px;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
  }
  .col_1 {
    width: 100%;
    position: unset;
  }
  .col_2 {
    width: 100%;
    position: unset;
  }

  .shp1{
    display: flex;
    flex-direction: column;
  }

  .text-ribat , .description , .text , .get-started, .window-logo{
    position: unset;
  }
  .window-logo{
    width: 99%;
  }

  .description span {
    font-size: 24px;
    padding:10px ;
  }
  .description .multiText {
    font-size: 24px;
  }

  .text {
    padding: 10px;
  }

  .get-started{
    width: 50%;
  }
  .g-s-phone{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  

  .services {
    height: auto;
  }
  #card-container-me {
    display: flex;
    gap: 20px;
    width: 95%;
    /* margin: 10px; */
    flex-direction: column;
    align-items: center;
  }
  .pt5 {
    width: 13%;
    top: 0rem;
    right: 15%;
    opacity: 9%;
  }
  .pt6 {
    width: 43%;
    top: -28px;
    right: 69%;
    opacity: 22%;
    z-index: -1;
    transform: rotate(45deg);
  }

  .pt8 {
    width: 20%;
    top: 25px;
    right: 58%;
  }
  .card-me {
    width: 90%;
  }

  .card-ai {
    height: auto;
  }

  .card-ai .text-ai-card h2 {
    font-weight: bold;
  }

  .values {
    height: auto;
  }

  .pc {
    display: none;
  }

  .tel {
    display: flex;
  }

  .tel .swiper {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .tel .swiper-button-next {
    right: 23rem !important;
  }
  .swiper-button-prev {
    left: 23rem !important;
  }

  .vision {
    height: auto;
  }

  .pt-products8 {
    width: 20%;
    top: -59px;
    right: 54%;
  }
  .pt-values {
    width: 69%;
    top: -149px;
    right: 57%;
    opacity: 30%;
  }

  .pt9 {
    width: 45%;
    top: -126px;
    right: 64%;
  }
  .mb-3 {
    margin-bottom: 0 !important;
  }
  .text-bg-light {
    width: 95%;
  }

  .recruite {
    height: auto;
    padding-bottom: 10px;
  }

  .crd-pc {
    display: none !important;
  }

  .crd-phone {
    display: flex !important;
  }

  .body-phone {
    text-align: center;
  }

  /* ===============Responsive Bar================= */
  .hv {
    display: none;
  }
  .bar {
    display: block;
  }

  nav.open .links {
    transform: translateX(0);
  }

  .navbar-me {
    padding: 0 11px 0 0px;
  }
  .navbar-me .logo-me {
    width: 34%;
    align-items: center;
    /* display: flex; */
  }
  .menu-me nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -2px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  nav ul li {
    z-index: 0;
  }

  .links a.active {
    font-size: 0.7rem;
    margin-left: 0;
    margin: 0.5rem 0;
  }

  .links ul {
    flex-direction: column;
  }

  .links ul li a {
    color: var(--light-one);
  }

  .links ul li a.active {
    margin-left: 0;
    margin: 0.5rem 0;
  }

  .box-wrapper {
    width: 100%;
  }
  .info-wrap,
  .form-wrap {
    width: 100%;
    height: inherit;
    float: none;
  }
  .info-wrap {
    border-radius: 30px 30px 0px 0px;
  }
  .form-wrap {
    border-radius: 0px 0px 30px 30px;
  }
  .form-group {
    width: 100%;
    float: none;
    margin: 25px 0px;
  }
  .form-fields .form-group:last-child,
  .submit-button {
    width: 100%;
  }
  .submit-button {
    margin: 10px 0px;
  }
}
