@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono&display=swap");

:root {
  --color-primaire: #3e92ae;
  --color-secondaire: #fea117;
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #784cfb;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.container-me {
  width: 100%;
  padding: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  height: auto;
}

/* =========================RECRUITE============================ */
main {
  width: 100%;
  height: auto;
  min-height: 86vh;
  background: #fff;
  margin-top: 5rem;
  border-radius: 16px;
  overflow: hidden;
  /* padding:10px ; */
  z-index: 0;
}
.cnt{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
}

.cnt-sign {
  width: 100%;
  height: 34rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.hv-cards-recruite {
  cursor: pointer;
}
.hv-cards-recruite:hover {
  background: #44b6ff17;
}

.img-cv {
  width: 30%;
  border: 2px dashed#4500ff3d;
  border-radius: 10px;
}

.text-align-left {
  text-align: left;
}

a {
  text-decoration: none;
}

/* ===============PATTERNS============== */
.pt {
  width: 100%;
  position: relative;
}
.patterns{
  width: 20%;
}
.pt-products8 {
  width: 6%;
  top: -44px;
  position: absolute;
  right: 53%;
}
/* ===============FIN PATTERNS============== */


/* ===============PUT CANDIDATE FORM ======================= */
.put-cv {
  background-color: #5641ff21;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: dashed 2px #5641ff6e;
}
.put-cv:hover {
  background: #5641ff33;
}

/* ===============FIN PUT CANDIDATE FORM ======================= */

/* =====================ADD JOB==================== */
.job-image{
  background-color: #5641ff21;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.job-image:hover{
  background: #5641ff33;
}
.job-logo{
  width: 20%;
  border: dashed 2px #5641ff6e;
  border-radius: 10px;
}
/* ===================FIN ADD JOB=================== */

/* ========================JOB OFFER=============================== */
.required-skills {
  margin-bottom: 10px;
}

/* =====================FIN JOB OFFER======================== */

/* ===================DASHBOARD=================== */
.table-classement {
  width: 100%;
  margin-right: 10px;
}

/* ================OFFRE CARDS================= */
.flex-column {
  flex-direction: column !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
