{% extends 'layout.html' %}
{% block title %}Ajoutr Offre D'emploi{% endblock %}
{% block navbar %}
<div class="navbar-me">
    <nav>

        <ul>
            <li class="hv" ><a href="/dashboard">BACK</a></li>
        </ul>
    </nav>

    <div class="menu-me">
      <nav>

        <!-- ===============NAV BAR FOR PHONE============= -->
        <div class="links">
          <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#values">OUR VALUES</a></li>
            <li><a href="#vision">OUR VISION</a></li>
            <li><a href="#recruite">RECRUITE</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
        <!-- ===============NAV BAR FOR PHONE============= -->
      </nav>
    </div>
</div>

{% endblock %}
{% block body %}

<sectio class="cnt p-3">
    <div class="container text-center">

        <form action="/add_job" method="post" enctype="multipart/form-data">
            <div class="form-floating">
                <input type="text" class="form-control mb-3" placeholder="Job Name"
                id="job_name" name="job_name" required></input type="text">
                <label for="job_name">Nom d'offre</label>
            </div>
            <div class="form-floating"> 
                <input type="text" class="form-control mb-3" id="required_skills" name="required_skills" placeholder="Job Name" required>
                <label for="required_skills">compétences requises</label>
            </div>
            <div class="form-floating">
                <textarea id="job_description" class="form-control mb-3" name="job_description" placeholder="job Description"  required></textarea>
                <label for="job_description">Description de l'emploi</label>
            </div>
            <div class="job-image mb-3">
              <label for="job_image">
                <img src="{{url_for('static', filename='assets/icons/logo.png')}}" alt="" class="job-logo"> <br>
                <b>Cliquer Pour Ajouter Le Logo de l'emploi (PNG)</b> 
            </label>
              <input type="file" class="form-control" id="job_image" name="job_image" accept="image/png" required>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter un emploi</button>
        </form>
    </div>
</sectio>
{% endblock %}