{% extends 'layout.html' %}
{% block title %}CLASSEMENT{% endblock %}
{% block navbar %}
<div class="navbar-me">
  <nav>

      <ul>
          <li class="hv" ><a href="/dashboard">BACK</a></li>
      </ul>
  </nav>

  <div class="menu-me">
    <nav>

      <!-- ===============NAV BAR FOR PHONE============= -->
      <div class="links">
        <ul>
          <li><a href="#home">HOME</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#values">OUR VALUES</a></li>
          <li><a href="#vision">OUR VISION</a></li>
          <li><a href="#recruite">RECRUITE</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
      <div class="hamburger-menu">
        <div class="bar"></div>
      </div>
      <!-- ===============NAV BAR FOR PHONE============= -->
    </nav>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="table-classement ">
    <p class="text-center "> <strong>Classement des candidats à l'emploi</strong></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="bg-success bg-gradient bg-opacity-10" scope="col">Nom</th>
                <th class="bg-success bg-gradient bg-opacity-10" scope="col">E-mail</th>
                <th class="bg-success bg-gradient bg-opacity-10" scope="col">Tel</th>
                <th class="bg-success bg-gradient bg-opacity-10" scope="col">CV</th>
                <th class="bg-success bg-gradient bg-opacity-10" scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
          {% for candidate in candidates %}
            {% for job_candidat in candidate.job_applicants|sort(attribute='grade', reverse = True) %}
            <tr>
                <td>{{ job_candidat.name }}</td>
                <td>{{ job_candidat.email }}</td>
                <td>{{ job_candidat.phone }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('download_cv', id=job_candidat.candidat_id) }}">Télécharger CV</a></td>
                {% if job_candidat.grade > 95 %}
                <td class="bg-success text-center text-light"><b>{{job_candidat.grade}}%</b></td>
                {% elif job_candidat.grade > 80 %}
                <td class="bg-success text-center text-light bg-opacity-75"><b>{{job_candidat.grade}}%</b></td>
                {% elif job_candidat.grade > 75 %}
                <td class="bg-success text-center text-light bg-opacity-50"><b>{{job_candidat.grade}}%</b></td>
                {% elif job_candidat.grade > 45 %}
                <td class="bg-warning text-center text-light"><b>{{job_candidat.grade}}%</b></td>
                {% else %}
                <td class="bg-danger text-center text-light"><b>{{job_candidat.grade}}%</b></td>
                {% endif %}
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}