{% extends 'layout.html' %}

{% block navbar %}
<div class="navbar-me">
    <nav>

        <ul>
            <li class="bar-admin" >Bonjour <span class="badge text-bg-warning nom-admin"><b>{{name}}</b></span></li>
        </ul>
    </nav>

    <div class="menu-me">
      <nav>
        <ul>
          <!-- <li class="hv"><a href="/">JOB OFFER</a></li> -->
          <li class="hv"><a href="/sign_in">SING OUT</a></li>
          <li class="hv"><a href="/dashboard/add_job">AJOUTER UN OFFRE D'EMPLOI</a></li>
          <li>
            <div class="dropdown p-md-0">
              <button
                class="btn btn-lang btn-primary dropdown-toggle p-md-1 lang"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="material-symbols-outlined"> translate </span>
                FR
              </button>
              <ul class="dropdown-menu flex-lg-column">
                <li>
                  <button class="dropdown-item" type="button">
                    AR (En Cours)
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    EN (En Cours)
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- ===============NAV BAR FOR PHONE============= -->
        <div class="links">
          <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#values">OUR VALUES</a></li>
            <li><a href="#vision">OUR VISION</a></li>
            <li><a href="#recruite">RECRUITE</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
        <!-- ===============NAV BAR FOR PHONE============= -->
      </nav>
    </div>
</div>

{% endblock %}

{% block body %}
<secttion class="cnt">

  <table class="table table-striped">
    <thead>
      <tr>
        <h1>Offres d'emploi</h1>
        <!-- <th scope="col" ></th>
        <th scope="col"></th>
        <th scope="col">Offre d'emploi</th>
        <th scope="col"></th> -->
  
    </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td> <button class="btn btn-loght"> <b> {{job.job_name}} </b></button></td>
        <td><a href="/dashboard/classement" class="btn btn-primary"> Afficher le classement</a></td>
        <td><button class="btn btn-warning">Edit</button></td>
        <td><button class="btn btn-danger"> Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  
  </table>
  <a href="/dashboard/add_job" class="btn btn-primary">Ajouter un offre d'emploi</a>
</secttion>
{% endblock %}