{% extends 'layout.html' %}
{% block title %}DASHBOARD ADMIN{% endblock %}
{% block navbar %}
<div class="navbar-me">
    <nav>

        <ul>
            <li class="bar-admin" >Bonjour <span class="badge text-bg-warning nom-admin"><b>{{name_admin}}</b></span></li>
        </ul>
    </nav>

    <div class="menu-me">
      <nav>
        <ul>
          <!-- <li class="hv"><a href="/">JOB OFFER</a></li> -->
          <li class="hv"><a href="/sign_in">Se déconnecter</a></li>
          <li class="hv"><a href="/dashboard/add_job">AJOUTER UN OFFRE D'EMPLOI</a></li>
          <li>
            <div class="dropdown p-md-0">
              <button
                class="btn btn-lang btn-primary dropdown-toggle p-md-1 lang"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="material-symbols-outlined"> translate </span>
                FR
              </button>
              <ul class="dropdown-menu flex-lg-column">
                <li>
                  <button class="dropdown-item" type="button">
                    AR (En Cours)
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    EN (En Cours)
                  </button>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- ===============NAV BAR FOR PHONE============= -->
        <div class="links">
          <ul>
            <li><a href="#home">HOME</a></li>
            <li><a href="#services">SERVICES</a></li>
            <li><a href="#values">OUR VALUES</a></li>
            <li><a href="#vision">OUR VISION</a></li>
            <li><a href="#recruite">RECRUITE</a></li>
            <li><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
        <!-- ===============NAV BAR FOR PHONE============= -->
      </nav>
    </div>
</div>

{% endblock %}

{% block body %}
<secttion class="cnt">

  <table class="table table-striped">
    <thead>
      <tr>
        <h1>Offres d'emploi</h1>
        <!-- <th scope="col" ></th>
        <th scope="col"></th>
        <th scope="col">Offre d'emploi</th>
        <th scope="col"></th> -->
  
    </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        
      <tr>
        <td> <button class="btn btn-loght"> <b> {{job.job_name}} </b></button></td>

        <td><a href="{{ url_for('classement', id=job._id) }}" class="btn btn-primary"> Afficher le classement</a></td>

        <td>
          <form action="{{url_for('modify_job' , job_id = job._id)}}" method="POST" enctype="multipart/form-data">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#EditModal{{job._id}}">Edit</button>
            <div class="modal fade" id="EditModal{{job._id}}" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier <b>{{job.job_name}}</b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-floating">
                      <input type="text" class="form-control mb-3" placeholder="Job Name"
                      id="job_name" name="job_name" value="{{job.job_name}}"></input type="text">
                      <label for="job_name">Job Name</label>
                      </div>
                      <div class="form-floating"> 
                          <input type="text" class="form-control mb-3" id="required_skills" name="required_skills" placeholder="Job Name" value="{{','.join(job.required_skills)}}">
                          <label for="required_skills">Required Skills</label>
                      </div>
                      <div class="form-floating">
                          <textarea id="job_description" class="form-control mb-3" name="job_description" placeholder="{{job.job_description}}"  value="{{job.job_description}}"></textarea>
                          <label for="job_description">Job Description</label>
                      </div>
                      <div class="job-image mb-3">
                        <label for="job_image">
                          <img src="{{url_for('static', filename='assets/icons/logo.png')}}" alt="" class="job-logo"> <br>
                          <b>Cliquer Pour Ajouter Le Logo de l'emploi (PNG)</b> 
                      </label>
                        <input type="file" class="form-control" id="job_image" name="job_image" accept="image/png"  >
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button class="btn btn-warning" type="submit">Modidfier</button>
                  </div>
                </div>
              </div>
            </div>


          </form>
        </td>
        <td>
          <form action="{{ url_for('delete_job', job_id=job._id) }}" method="POST">
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeleteModal{{job._id}}">Supprimer</button>
              <div class="modal fade" id="DeleteModal{{job._id}}" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer l'emploi <b>{{job.job_name}}</b></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Voulez-vous vraiment supprimer cette Offre d'emploi?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                      <button class="btn btn-danger" type="submit">Supprimer</button>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </td>


      </tr>
      {% endfor %}
    </tbody>
  
  </table>
  <a href="/dashboard/add_job" class="btn btn-primary">Ajouter un offre d'emploi</a>
  
</secttion>
{% endblock %}