{% extends 'layout.html' %}

{% block body %}

<section class="cnt">


<div class="container text-center">
  <form action="/candidate_form/submit" method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <div class="alert alert-primary text-align-left" role="alert">
          Merci d'avoir rempli le formulaire. Nous prenons très au sérieux la confidentialité de vos informations personnelles. <br>
            Soyez assuré que les informations que vous fournissez ne seront utilisées que dans le but d'évaluer votre candidature. <br>
            Seul notre service RH aura accès à vos informations, et elles ne seront pas partagées avec des tiers. <br>
            Nous apprécions votre confiance et nous nous engageons à protéger vos données personnelles.
        </div>
        <div class="candidate-form">

          <div class="form-floating">
            <input type="text" class="form-control mb-3" placeholder="Leave a comment here"
              id="floatingTextarea" name="name"></input type="text">
            <label for="floatingTextarea">Name</label>
          </div>
          <div class="form-floating">
            <input type="email" class="form-control mb-3" placeholder="E-mail" id="floatingTextarea" name="email">
            </input type="email" >
            <label for="floatingTextarea">E-mail</label>
          </div>
          <div class="form-floating">
            <input type="tel" class="form-control mb-3" placeholder="Leave a comment here"
              id="floatingTextarea" name="phone"></input type="number">
            <label for="floatingTextarea">Tel</label>
          </div>
          <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        </div>

      </div>
      <div class="col put-cv">
        <div class="mb-3">
          <label for="formFile" class="form-label flex-column">
            <img src="{{url_for('static', filename='assets/icons/talent-search.png')}}" alt="" class="img-cv">
            Cliquer Pour Ajouter Votre CV</label>
          <input class="form-control" type="file" id="formFile" name="cv">
        </div>
      </div>
    </div>
  </form>
</div>
</section>

{% endblock %}