<section class="cnt">

  <div class="title-vision">
    <h1>JOB OFFER</h1>
  </div>
  <div class="pt">
    <img
      src="{{url_for('static' , filename='assets/patterns/line.png')}}"
      alt=""
      class="patterns pt-products8"
    />
    <img src="assets/patterns/pt10.png" alt="" class="patterns pt10" />
  </div>
  <div class="alert alert-info d-none d-lg-block w-75">
    Join our team of IT, data, application development, web, and AI
    experts in shaping the future of technology. <br />
    Exciting opportunities await for those who want to make an impact.
  </div>
  <!-- CARDS FOR PC -->
  <!-- ===============NODE JS CARD============ -->
  {% for offer in jobs_offers %}
  <div class="card mb-3 w-75 crd-pc">
    <div class="row g-0 hv-cards-recruite">
      <div class="col-md-4 flex-column w-25">
        <img
          src="data:image/png;base64,{{ offer['job_image'] }}"
          class="img-fluid rounded-start w-50 text-center"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ offer.job_name }}</h5>
          <p class="card-text">
            Required Skills:
          </p>
          
          <div class="required-skills">
            {% for i in offer.required_skills %}
            <span class="badge text-bg-warning">{{ i }}</span>
            {% endfor %}
            <!-- <span class="badge text-bg-warning">TypeScript</span>
            <span class="badge text-bg-warning">Python</span>
            <span class="badge text-bg-warning">Node.Js</span>
            <span class="badge text-bg-warning">Angular</span>
            <span class="badge text-bg-warning">Express.Js</span>
            <span class="badge text-bg-warning">MongoDB</span>
            <span class="badge text-bg-warning">Cloud Platforms</span>
            <span class="badge text-bg-warning">DataBases</span>  -->
          </div>
    
          <a href="{{url_for('candidate_form', job_id = offer._id)}}" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        </div>
        
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- ==============PYTHON DEVELOPPER CARD=============== -->
  <!-- <div class="card mb-3 w-75 crd-pc">
    <div class="row g-0 hv-cards-recruite">
      <div class="col-md-4 flex-column w-25">
        <img
          src="{{url_for('static' , filename='/assets/icons/python.png')}}"
          class="img-fluid rounded-start w-50 text-center"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">PYTHON DEVELOPPER</h5>
          <p class="card-text">
            Required Skills:
          </p>
          <div class="required-skills">
  
            <span class="badge text-bg-warning">Django</span>
            <span class="badge text-bg-warning">Flask</span>
            <span class="badge text-bg-warning">Rest APIs</span>
            <span class="badge text-bg-warning">OOP</span>
            <span class="badge text-bg-warning">SQL</span>
            <span class="badge text-bg-warning">GIT</span>
            <span class="badge text-bg-warning">SQLite</span>
            <span class="badge text-bg-warning">DataBases</span> 
          </div>
    
          <a href="/candidate_form" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        </div>
        
      </div>
    </div>
  </div> -->
  <!-- ==========GRAPHIC DESIGNER=========== -->
  <!-- <div class="card mb-3 w-75 crd-pc">
    <div class="row g-0 hv-cards-recruite">
      <div class="col-md-4 flex-column w-25">
        <img
          src="{{url_for('static' , filename='/assets/icons/graphic-design.png')}}"
          class="img-fluid rounded-start w-50 text-center"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">GRAPHIC DESIGNER</h5>
          <p class="card-text">
            Required Skills:
          </p>
          <div class="required-skills">
  
            <span class="badge text-bg-warning">Photoshop</span>
            <span class="badge text-bg-warning">Illustrator</span>
            <span class="badge text-bg-warning">Figma</span>
            <span class="badge text-bg-warning">Over</span>
            <span class="badge text-bg-warning">InDesign</span>
            <span class="badge text-bg-warning">Branding</span>
            <span class="badge text-bg-warning">Typography</span>
            <span class="badge text-bg-warning">Layout</span>
            <span class="badge text-bg-warning">3D Animations</span> 
          </div>
    
          <a href="/candidate_form" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        </div>
        
      </div>
    </div>
  </div> -->
  <!-- ================DATA ANALYST=============== -->
  <!-- <div class="card mb-3 w-75 crd-pc">
    <div class="row g-0 hv-cards-recruite">
      <div class="col-md-4 flex-column w-25">
        <img
          src="{{url_for('static' , filename='/assets/icons/data-analyst.png')}}"
          class="img-fluid rounded-start w-50 text-center"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">DATA ANALYST</h5>
          <p class="card-text">
            Required Skills:
          </p>
          <div class="required-skills">
  
            <span class="badge text-bg-warning">Data Analysis</span>
            <span class="badge text-bg-warning">Data Vizualisation</span>
            <span class="badge text-bg-warning">Python</span>
            <span class="badge text-bg-warning">R</span>
            <span class="badge text-bg-warning">Power BI</span>
            <span class="badge text-bg-warning">Data Modelling</span>
            <span class="badge text-bg-warning">Typography</span>
            <span class="badge text-bg-warning">Statistics</span>
            <span class="badge text-bg-warning">Machine Learning</span> 
          </div>
    
          <a href="/candidate_form" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        </div>
        
      </div>
    </div>
  </div> -->
  <!-- FIN CARDS FOR PC -->
  <!-- CARDS FOR PHONE -->
  <!-- <div class="card crd-phone flex-column mb-3" style="width: 18rem">
    <img
      src="/assets/icons/node-js.png"
      class="card-img-top w-25"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title fw-bold body-phone">FULL STACk DEVELOPPER</h5>
      <p class="card-text">
        Join our team as a Full Stack Developer and work on cutting-edge
        projects utilizing your skills in JavaScript, React, Node.js, and
        Python. <br />
        Experience with cloud platforms and databases required.
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Send your CV to the following email:
          <a href="/candidate_form" class="fw-bold stretched-link"
            >hr@ribatdev.com</a
          ></small
        >
      </p>
    </div>
  </div>
  <div class="card crd-phone flex-column mb-3" style="width: 18rem">
    <img
      src="/assets/icons/python.png"
      class="card-img-top w-25"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title fw-bold body-phone">PYTHON DEVELOPPER</h5>
      <p class="card-text">
        Seeking a Python Developer with experience in Django and Flask to
        join our team. <br />
        Strong understanding of REST APIs, Git, SQL required. <br />
        Exciting projects and opportunities await.
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Send your CV to the following email:
          <a href="/candidate_form" class="fw-bold stretched-link"
            >hr@ribatdev.com</a
          ></small
        >
      </p>
    </div>
  </div>
  <div class="card crd-phone flex-column mb-3" style="width: 18rem">
    <img
      src="/assets/icons/graphic-design.png"
      class="card-img-top w-25"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title fw-bold body-phone">GRAPHIC DESIGNER</h5>
      <p class="card-text">
        Required Skills: Adobe Creative Suite, Photoshop, Illustrator, and
        InDesign to create visually stunning designs for digital and print
        media. <br />
        Strong portfolio and experience in branding, typography and layout
        required.
      </p>
      <p class="card-text">
        <small class="text-muted"
          >Send your CV to the following email:
          <a href="/candidate_form" class="fw-bold stretched-link"
            >hr@ribatdev.com</a
          ></small
        >
      </p>
    </div>
  </div>
  <div class="card crd-phone flex-column mb-3" style="width: 18rem">
    <img
      src="/assets/icons/data-analyst.png"
      class="card-img-top w-25"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title fw-bold body-phone">DATA ANALYST</h5>
      <p class="card-text">
        Required Skills: data analysis and visualization, SQL, Python, and
        R to turn data into actionable insights. <br />
        Experience with data modelling, statistics and machine learning
        required. <br />
        Join our team and drive data-driven decision making.
      </p>
  
      <p class="card-text">
        <small class="text-muted"
          >Send your CV to the following email:
          <a href="/candidate_form" class="fw-bold stretched-link"
            >hr@ribatdev.com</a
          ></small
        >
      </p>
    </div>
  </div> -->
</section>
