<section class="cnt">
  <div class="title-vision">
    <h1>OFFRES D'EMPLOI</h1>
  </div>
  <div class="pt">
    <img
      src="{{url_for('static' , filename='assets/patterns/line.png')}}"
      alt=""
      class="patterns pt-products8"
    />
    <img src="assets/patterns/pt10.png" alt="" class="patterns pt10" />
  </div>
  <div class="alert alert-info d-none d-lg-block w-75">
    Rejoignez notre équipe d'experts en informatique, données, développement d'applications, Web et IA pour façonner l'avenir de la technologie. <br>
    Des opportunités passionnantes attendent ceux qui veulent avoir un impact. <br>
    <b>Vous trouverez ici toutes les offres d'emploi disponibles. </b>
  </div>
  <!-- CARDS FOR PC -->
  {% for offer in jobs_offers %}
  <div class="card mb-3 w-75 crd-pc">
    <div class="row g-0 hv-cards-recruite">
      <div class="col-md-4 flex-column w-25">
        <img
          src="data:image/png;base64,{{ offer['job_image'] }}"
          class="img-fluid rounded-start w-50 text-center"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ offer.job_name }}</h5>
          <p class="card-text">
            Required Skills:
          </p>
          <div class="required-skills">
            {% for i in offer.required_skills %}
            <span class="badge text-bg-warning">{{ i }}</span>
            {% endfor %}
          </div>
          <a href="{{url_for('candidate_form', job_id = offer._id)}}" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        </div> 
      </div>
    </div>
  </div>
 <!-- CARDS FOR PHONE -->
  <div class="card crd-phone flex-column mb-3" style="width: 18rem">
        <img
        src="data:image/png;base64,{{ offer['job_image'] }}"
        class="img-fluid rounded-start w-50 text-center"
        alt="..."
      />
    <div class="card-body">
      <h5 class="card-title fw-bold body-phone">{{ offer.job_name }}</h5>
      <p class="card-text">
        {% for i in offer.required_skills %}
        <span class="badge text-bg-warning">{{ i }}</span>
        {% endfor %}
      </p>
      <p class="card-text">
        <a href="{{url_for('candidate_form', job_id = offer._id)}}" class="btn btn-outline-primary"> Cliquer Pour déposer Votre Dossier</a>
        
      </p>
    </div>
  </div>
  {% endfor %}
</section>

