
<div class="title-vision">
  <h1>JOB OFFER</h1>
</div>
<div class="pt">
  <img
    src="{{url_for('static' , filename='assets/patterns/line.png')}}"
    alt=""
    class="patterns pt-products8"
  />
  <img src="assets/patterns/pt10.png" alt="" class="patterns pt10" />
</div>
<div class="alert alert-info d-none d-lg-block w-75">
  Join our team of IT, data, application development, web, and AI
  experts in shaping the future of technology. <br />
  Exciting opportunities await for those who want to make an impact.
</div>
<!-- CARDS FOR PC -->
<div class="card mb-3 w-75 crd-pc">
  <div class="row g-0 hv-cards-recruite">
    <div class="col-md-4 flex-column w-25">
      <img
        src="{{url_for('static' , filename='/assets/icons/node-js.png')}}"
        class="img-fluid rounded-start w-50 text-center"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">FULL STACk DEVELOPPER</h5>
        <p class="card-text">
          Required Skills:
        </p>
        <span class="badge text-bg-warning">JavaScript</span>
        <span class="badge text-bg-warning">TypeScript</span>
        <span class="badge text-bg-warning">Python</span>
        <span class="badge text-bg-warning">Node.Js</span>
        <span class="badge text-bg-warning">Angular</span>
        <span class="badge text-bg-warning">Express.Js</span>
        <span class="badge text-bg-warning">MongoDB</span>
        <span class="badge text-bg-warning">Cloud Platforms</span>
        <span class="badge text-bg-warning">DataBases</span>

        
      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-75 crd-pc">
  <div class="row g-0 hv-cards-recruite">
    <div class="col-md-4 flex-column w-25">
      <img
        src="{{url_for('static' , filename='/assets/icons/python.png')}}"
        class="img-fluid rounded-start w-50 text-center"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">PYTHON DEVELOPPER</h5>
        <p class="card-text">
          Seeking a Python Developer with experience in Django and Flask
          to join our team. <br />
          Strong understanding of REST APIs, Git, SQL required. <br />
          Exciting projects and opportunities await.
        </p>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-75 crd-pc">
  <div class="row g-0 hv-cards-recruite">
    <div class="col-md-4 flex-column w-25">
      <img
        src="{{url_for('static' , filename='/assets/icons/graphic-design.png')}}"
        class="img-fluid rounded-start w-50 text-center"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">GRAPHIC DESIGNER</h5>
        <p class="card-text">
          Required Skills: Adobe Creative Suite, Photoshop, Illustrator,
          and InDesign to create visually stunning designs for digital
          and print media. <br />
          Strong portfolio and experience in branding, typography and
          layout required.
        </p>

      </div>
    </div>
  </div>
</div>
<div class="card mb-3 w-75 crd-pc">
  <div class="row g-0 hv-cards-recruite">
    <div class="col-md-4 flex-column w-25">
      <img
        src="{{url_for('static' , filename='/assets/icons/data-analyst.png')}}"
        class="img-fluid rounded-start w-50 text-center"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title fw-bold">DATA ANALYST</h5>
        <p class="card-text">
          Required Skills: data analysis and visualization, SQL, Python,
          and R to turn data into actionable insights. <br />
          Experience with data modelling, statistics and machine
          learning required. <br />
          Join our team and drive data-driven decision making.
        </p>

      </div>
    </div>
  </div>
</div>
<!-- FIN CARDS FOR PC -->
<!-- CARDS FOR PHONE -->
<div class="card crd-phone flex-column mb-3" style="width: 18rem">
  <img
    src="/assets/icons/node-js.png"
    class="card-img-top w-25"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title fw-bold body-phone">FULL STACk DEVELOPPER</h5>
    <p class="card-text">
      Join our team as a Full Stack Developer and work on cutting-edge
      projects utilizing your skills in JavaScript, React, Node.js, and
      Python. <br />
      Experience with cloud platforms and databases required.
    </p>
    <p class="card-text">
      <small class="text-muted"
        >Send your CV to the following email:
        <a href="/candidate_form" class="fw-bold stretched-link"
          >hr@ribatdev.com</a
        ></small
      >
    </p>
  </div>
</div>
<div class="card crd-phone flex-column mb-3" style="width: 18rem">
  <img
    src="/assets/icons/python.png"
    class="card-img-top w-25"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title fw-bold body-phone">PYTHON DEVELOPPER</h5>
    <p class="card-text">
      Seeking a Python Developer with experience in Django and Flask to
      join our team. <br />
      Strong understanding of REST APIs, Git, SQL required. <br />
      Exciting projects and opportunities await.
    </p>
    <p class="card-text">
      <small class="text-muted"
        >Send your CV to the following email:
        <a href="/candidate_form" class="fw-bold stretched-link"
          >hr@ribatdev.com</a
        ></small
      >
    </p>
  </div>
</div>
<div class="card crd-phone flex-column mb-3" style="width: 18rem">
  <img
    src="/assets/icons/graphic-design.png"
    class="card-img-top w-25"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title fw-bold body-phone">GRAPHIC DESIGNER</h5>
    <p class="card-text">
      Required Skills: Adobe Creative Suite, Photoshop, Illustrator, and
      InDesign to create visually stunning designs for digital and print
      media. <br />
      Strong portfolio and experience in branding, typography and layout
      required.
    </p>
    <p class="card-text">
      <small class="text-muted"
        >Send your CV to the following email:
        <a href="/candidate_form" class="fw-bold stretched-link"
          >hr@ribatdev.com</a
        ></small
      >
    </p>
  </div>
</div>
<div class="card crd-phone flex-column mb-3" style="width: 18rem">
  <img
    src="/assets/icons/data-analyst.png"
    class="card-img-top w-25"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title fw-bold body-phone">DATA ANALYST</h5>
    <p class="card-text">
      Required Skills: data analysis and visualization, SQL, Python, and
      R to turn data into actionable insights. <br />
      Experience with data modelling, statistics and machine learning
      required. <br />
      Join our team and drive data-driven decision making.
    </p>

    <p class="card-text">
      <small class="text-muted"
        >Send your CV to the following email:
        <a href="/candidate_form" class="fw-bold stretched-link"
          >hr@ribatdev.com</a
        ></small
      >
    </p>
  </div>
</div>
